<table class="new_form">
  <tr>
    <tr>
    <td><label><b>Name:</b></td>
    <td><%= @school.name %></label></td>
  </tr>
  <tr>
     <tr>
    <tr>
    <td><label><b>Curriculum:</b></td>
    <td><%= @school.curriculum %></label></td>
  </tr>
</table>


